@model IEnumerable<FengQiLu.Models.CVD>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
    @using (Html.BeginForm("Search","Home",FormMethod.Get)) 
    {
        <p>Search (by name, ID, or diagnosis): @Html.TextBox("keyword")
        <input type="submit" value="Filter" /></p>
    }
</p>

<table>
    <tr>
        <th>
            住院号
        </th>
        <th>
            姓名
        </th>
        <th>
            性别
        </th>
        <th>
            诊断
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instance_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


